.greetingBox {
    background: #FFFFFF;

}

.greeting {
    display: flex;

    max-width: 1200px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 30px;
    color: #666666;

    padding-top: 37px;
    padding-bottom: 20px;
    padding-left: 100px;
    margin-top: 46px;
    margin-left: auto;
    margin-right: auto;

    background: #FFFFFF;
}

.mainContent {
    display: none;

    justify-content: center;

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 16px;
    color: #666666;


    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    background: #FFFFFF;
}


.schedule {
    display: flex;
    max-width: 1200px;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    gap: 30px;

    padding-left: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 37px;

}



.schedule__info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10px;
    gap: 25px;

}

.schedule__pic {
    width: 266px;
    height: 200px;
}

.schedule_pic--img {
    width: 266px;
    height: 200px;

}


.schedule__position {
    display: flex;
    max-width: auto;
    flex-direction: row;
    justify-content: space-between;
}

.schedule__detail {
    display: flex;
    max-width: auto;

    flex-direction: column;
}

.schedule__detail--title {
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    color: #448899;

    margin-bottom: 30px;
}

.schedule__detail--date,
.schedule__detail--time,
.schedule__detail--price,
.schedule__detail--place {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    color: #666666;

    margin-bottom: 20px;
}

.schedule__detail--delete {
    display: flex;
    width: 30px;
    height: 30px;
    margin-left: 100px;
    background-image: url(../images/icon_delete.png);
    cursor: pointer;

}

.contactInfo {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    height: 320px;

    padding-left: 100px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
}

.payment {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    height: 260px;

    padding-left: 100px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #E8E8E8;
}

.contactInfo__title,
.payment__title {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 16px;

    color: #666666;

    padding-bottom: 30px;
}

.contactInfo__name,
.contactInfo__email,
.contactInfo__phone,
.payment__cardNumber,
.payment__expiredDate,
.payment__cvv {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 13px;

    color: #666666;

    padding-bottom: 20px;
}



input {
    width: 200px;
    height: 30px;
    margin: 5px 0;
    padding: 5px;
}

.contactInfo__reminder {
    display: flex;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    width: fit-content;

    word-break: break-all;
    color: #666666;
}

.tpfield {
    height: 30px;
    width: 200px;
    border: 1px solid gray;
    margin: 5px 0;
    padding: 5px;
}



.payment__check {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    max-width: 100%;
    width: 1000px;
    height: 150px;

    padding-top: 25px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.payment__check--price {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;

    color: #666666;
}

.payment__check--btn {
    width: 173px;
    height: 36px;
    background: #448899;
    border-radius: 5px;

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 16px;
    color: #FFFFFF;
    padding-left: 20px;
    padding-top: 10px;

    margin-top: 25px;

    cursor: pointer;
}

.loader {
    width: 106px;
    height: 56px;
    display: none;
    visibility: visible;
    margin: 20px auto;
    background-image: linear-gradient(#66AABB 50px, transparent 0), linear-gradient(#66AABB 50px, transparent 0), linear-gradient(#66AABB 50px, transparent 0), linear-gradient(#66AABB 50px, transparent 0), radial-gradient(circle 14px, #66AABB 100%, transparent 0);
    background-size: 48px 15px, 15px 35px, 15px 35px, 25px 15px, 28px 28px;
    background-position: 25px 5px, 58px 20px, 25px 17px, 2px 37px, 76px 0px;
    background-repeat: no-repeat;
    position: relative;
    bottom: 3px;
    z-index: 5;
    transform: rotate(-45deg);
    box-sizing: border-box;
}

.loader::after,
.loader::before {
    content: '';
    position: absolute;
    width: 56px;
    height: 56px;
    border: 6px solid #66AABB;
    border-radius: 50%;
    left: -45px;
    top: -10px;
    background-repeat: no-repeat;
    background-image: linear-gradient(#66AABB 64px, transparent 0), linear-gradient(#66AABB 66px, transparent 0), radial-gradient(circle 4px, #66AABB 100%, transparent 0);
    background-size: 40px 1px, 1px 40px, 8px 8px;
    background-position: center center;
    box-sizing: border-box;
    animation: rotation 0.3s linear infinite;
}

.loader::before {
    left: 25px;
    top: 60px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}





.footerWord {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;

    color: #FFFFFF;

    max-width: 100%;
    height: 104px;
    background: #757575;
}

body {
    background-color: #757575;
    ;
}


@media(max-width:650px) {
    .greeting {
        padding-left: 30px;

    }

    .schedule {
        padding-left: 30px;
        justify-content: center;
        margin-bottom: 0px;
    }

    .schedule__info {
        flex-direction: column;
        margin-left: 0px;
    }


    .schedule__position {
        width: 300px;
        flex-direction: column;
    }

    .schedule__detail--delete {
        margin-left: 250px;
        margin-bottom: 5px;
    }


    .contactInfo {
        width: auto;
        padding-left: 30px;
    }

    .contactInfo__reminder {
        width: 300px;
        font-family: 'Noto Sans TC';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 23px;
        word-break: break-all
    }

    .payment {
        padding-left: 30px;
    }

}