{% extends "layout.html" %}

{% block title %}Attraction Page{% endblock %}
{% block link %}
<link rel="stylesheet" href="../static/css/attraction.css" />{% endblock %}



{% block body %}
<section class="section">
    <div class="slideshow-container">
        <div class="slidePicBox">
            <!-- <img class="slidePic" src="" alt=""> -->
        </div>

        <!-- Next and previous buttons -->
        <div class="nextprev">
            <div class="next"></div>
            <div class="prev"></div>
        </div>

        <!-- The dots/circles -->
        <div class="dot-container">
            <!-- <span class="dot"></span> -->
        </div>
    </div>




    <div class="sectionRight">
        <div class="spotName"></div>
        <div class="catMrt">
            <div class="spotCat"></div>
            <div class="spotMrt"></div>
        </div>

        <div class="bookTourArea">
            <p class="bookTitle">訂購導覽行程</p>
            <p class="bookSubTitle">以此景點為中心的一日行程，帶您探索城市角落故事</p>

            <div class="selectDay">選擇日期：
                <input class="date" type="date">
            </div>

            <div class="selectTime">選擇時間：
                <label class="pickOne" for="">
                    <input id="am" type="radio" name="pickTime" checked>
                    <p>上半天</p>
                </label>

                <label class="pickOne" for="">
                    <input id="pm" type="radio" name="pickTime">
                    <p>下半天</p>
                </label>
            </div>

            <div class="charge">導覽費用：
                <div class="price">新台幣 2000元</div>
            </div>

            <button class="bookBtn">開始預約行程</button>

        </div>

    </div>
</section>

<main class="main">
    <div class="content">
        <div class="description"></div>

        <div class="address">
            <p class="subtitle">景觀地址：</p>
            <div class="address-content"></div>

        </div>

        <div class="transport">
            <p class="subtitle">交通方式：</p>
            <div class="transport-content"></div>
        </div>

    </div>
</main>

<footer class="footerWord">
    COPYRIGHT © 2022 台北一日遊
</footer>

<script type="text/javascript" src="../static/js/attraction.js"> </script>
{% endblock %}

</body>

</html>