{% extends "layout.html" %}

{% block title %} Thankyou Page{% endblock %}
{% block link %}
<link rel="stylesheet" href="../static/css/thankyou.css" />{% endblock %}

{% block body %}

<div class='wrapper'>

    <div class="section-center">
        <div class="section-up">
            <div class="sun">
                <span></span>
            </div>
            <div class="cloud-left">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="cloud-middle">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="cloud-right">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="bird-wrapper">
                <div class="left-wing">
                    <span></span>
                </div>
                <div class="right-wing">
                    <span></span>
                </div>
            </div>
            <div class="bird-wrapper snd">
                <div class="left-wing">
                    <span></span>
                </div>
                <div class="right-wing">
                    <span></span>
                </div>
            </div>
            <div class="bird-wrapper trd">
                <div class="left-wing">
                    <span></span>
                </div>
                <div class="right-wing">
                    <span></span>
                </div>
            </div>
            <div class="building-left">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="building-right">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span><span></span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="left-tree">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="right-tree">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="hill">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="hill snd">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="hill trd">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="hill frt">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="section-down">
            <div class="ship-wrapper">
                <div class="ship">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="water-big-wrapper">
                <div class="water-big-wrap">
                    <div class="water-big">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="water-big snd">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="water-big trd">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="water-lines-wrapper">
                <div class="water-lines">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="water-lines-wrapper right">
                <div class="water-lines">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="fish-wrapper">
                <div class="fish-wrap">
                    <div class="fish">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="fish-wrapper right">
                <div class="fish-wrap">
                    <div class="fish">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="water-wrapper top">
                <div class="water-wrap">
                    <div class="water">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="water snd">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="water trd">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="water-wrapper">
                <div class="water-wrap">
                    <div class="water">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="water snd">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="water trd">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="water-wrapper top right">
                <div class="water-wrap">
                    <div class="water">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="water snd">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="water trd">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="water-wrapper right">
                <div class="water-wrap">
                    <div class="water">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="water snd">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="water trd">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="order-content">
        <h3>行程預定成功<br>
            <h4>訂單編號如下<br></h4><br>
            <h3 class="orderNumber"></h3><br>
            <h4>如欲查詢歷史訂單，請至<a class="member">會員中心</a>查詢</h4>
        </h3>
    </div>








    <footer class=" footerWord">
        COPYRIGHT © 2022 台北一日遊
    </footer>
</div>
<script type="text/javascript" src="../static/js/thankyou.js"> </script>
{% endblock %}

</body>

</html>